@media all and (min-width: 320px) and (max-width: 767px){
    h2{
        font-size: 30px;
        line-height: 36px;
    }
    .logo{
        height: 60px;
    }
    .logo img{
        max-height: 100%;
    }
    .interaction-item:not(:first-child){
        margin-left: 25px;
    }
    .interaction-item__text{
        display: none;
    }
    .btn-red{
        height: 40px;
        line-height: 38px;
    }
    /*header*/
    .header--home{
        top: 0;
    }
    .navigation{
        margin-top: -30px;
        left: 0;
    }
    .cart{
        margin-right: 10px;
    }
    /*hero*/
    .hero{
        padding: 120px 0 60px 0;
    }
    .hero__title{
        font-size: 36px;
        line-height: 44px;
    }
    .hero__description{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .hero-advantages{
        position: static;
        margin-top: 40px;
        padding: 5px 15px;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .hero-advantages__item{
        width: 100%;
        padding: 15px 0;
    }
    .hero-advantages__item:not(:last-child){
        border-right: none;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    /*catalog*/
    .catalog{
        padding: 60px 0 45px 0;
    }
    .catalog__items{
        margin-top: 30px;
        margin-left: -10px;
        margin-right: -10px;
    }
    .catalog__item{
        width: 50%;
        padding: 5px;
    }
    .catalog-product__content{
        padding: 15px;
    }
    .catalog-product__title{
        font-size: 18px;
    }
    .catalog-product__variants{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .catalog-product__variants .product-variants__label{
        display: none;
    }
    .product-price{
        font-size: 24px;
        line-height: 1;
    }
    .catalog-product__btns{
        flex-direction: column;
    }
    .catalog-product__more{
        margin-right: 0;
    }
    /*benefits*/
    .benefits{
        padding: 60px 0 30px 0;
        background-image: none;
    }
    .benefits__items{
        margin-top: 30px;
        margin-left: -5px;
        margin-right: -5px;
    }
    .benefits-item{
        width: 50%;
        padding: 0;
        margin-bottom: 30px;
    }
    .benefits-item__ml-50{
        margin-left: 0;
    }
    .benefits-item__img svg{
        height: 60px;
    }
    .benefits-item__title,
    .benefits-item__description{
        margin-top: 10px;
    }
    .benefits-item__title{
        font-size: 18px;
    }
    .benefits-item__description{
        font-size: 14px;
    }
    /*about*/
    .about{
        padding: 60px 0;
    }
    .about h2{
        margin-bottom: 20px;
    }
    .about__col{
        max-width: 100%;
    }
    /*Useful*/
    .useful{
        padding-bottom: 30px;
    }
    .footer-navigation{
        padding-bottom: 20px;
    }
    .footer-navigation__item{
        width: 160px;
        margin: 0 5px 10px 5px;
    }
    /*feedbacks*/
    .feedbacks{
        padding: 60px 0;
        background-image: none;
    }
    .feedbacks-slide{
        flex-wrap: wrap;
        padding: 20px;
    }
    .feedbacks-slide__img{
        margin-bottom: 20px;
    }
    .feedbacks__slider .slick-dots{
        margin-top: 20px;
    }
    /*Breadcrumbs*/
    .breadcrumbs{
        padding: 30px 0;
    }
    /*PRODUCT*/
    .product{
        padding-bottom: 50px;
    }
    .product__media{
        border-right: none;
    }
    .product__description{
        margin: 30px 0;
    }
}